# Servidor y Web
Flask
Flask-Cors
gunicorn
whitenoise
Werkzeug
python-dotenv

# Base de Datos (Supabase)
supabase

# Utilidades
requests
PyJWT
pydantic
typing_extensions
bcrypt
flask-cors

# Twilio (SMS)
twilio

# Exportación de reportes (Excel, PDF, Word)
pandas
openpyxl
xlsxwriter
fpdf2
python-docx
